In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report
from catboost import CatBoostClassifier

# Input data files are available in the read-only "../input/" directoryz
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [4]:
df = pd.read_csv('personality.csv')

In [5]:
df.head()

,Age,Gender,Education,Introversion Score,Sensing Score,Thinking Score,Judging Score,Interest,Personality
0,19.0,Male,0,9.47080,7.141434,6.03696,4.360278,Unknown,ENFP
1,27.0,Female,0,5.85392,6.160195,0.80552,4.221421,Sports,ESFP
2,21.0,Female,0,7.08615,3.388433,2.66188,5.127320,Unknown,ENFP
3,28.0,Male,0,2.01892,4.823624,7.30625,5.986550,Others,INTP
4,36.0,Female,1,9.91703,4.755080,5.31469,4.677213,Technology,ENFP

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128061 entries, 0 to 128060
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Age                 128061 non-null  float64
 1   Gender              128061 non-null  object
 2   Education           128061 non-null  int64
 3   Introversion Score  128061 non-null  float64
 4   Sensing Score       128061 non-null  float64
 5   Thinking Score      128061 non-null  float64
 6   Judging Score       128061 non-null  float64
 7   Interest            128061 non-null  object
 8   Personality         128061 non-null  object
dtypes: float64(5), int64(1), object(3)
memory usage: 8.8+ MB

In [7]:
le = LabelEncoder()
columns = ['Gender','Interest','Personality'] 

for col in columns:
    df[col] = le.fit_transform(df[col])

In [8]:
df.head()

,Age,Gender,Education,Introversion Score,Sensing Score,Thinking Score,Judging Score,Interest,Personality
0,19.0,1,0,9.47080,7.141434,6.03696,4.360278,4,1
1,27.0,0,0,5.85392,6.160195,0.80552,4.221421,2,5
2,21.0,0,0,7.08615,3.388433,2.66188,5.127320,4,1
3,28.0,1,0,2.01892,4.823624,7.30625,5.986550,1,11
4,36.0,0,1,9.91703,4.755080,5.31469,4.677213,3,1

In [9]:
y = df['Personality']
x = df.drop(columns=['Personality'])

In [10]:
X_train, X_test, y_train, y_test = train_test_split(x,y,train_size=0.8,random_state=10)

In [11]:
model = CatBoostClassifier(
        loss_function= 'MultiClass',
        verbose= False,
        n_estimators= 300,
        max_bin= 300,
        min_data_in_leaf= 100,
        l2_leaf_reg= 10
        )

In [12]:
model.fit(X_train,y_train)

In [13]:
y_pred = model.predict(X_test)

In [14]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.92      0.94      0.93       775
           1       0.92      0.93      0.93      6952
           2       0.93      0.90      0.91       543
           3       0.93      0.93      0.93      4904
           4       0.83      0.73      0.78       108
           5       0.87      0.80      0.83       957
           6       0.77      0.68      0.72        69
           7       0.87      0.82      0.84       650
           8       0.91      0.91      0.91       605
           9       0.90      0.92      0.91      4965
          10       0.86      0.90      0.88       376
          11       0.90      0.91      0.90      3402
          12       0.84      0.63      0.72        75
          13       0.85      0.80      0.83       692
          14       0.84      0.63      0.72        67
          15       0.84      0.83      0.84       473

    accuracy                           0.91     25613
   macro avg       0.87      0.83      0.85     25613
weighted avg       0.91      0.91      0.91     25613